summary::-webkit-details-marker {
  display: none;
}

details summary {
  cursor: pointer;
  margin-bottom: -10px;
  transition: margin 150ms ease-out;
}

details[open] .chevron {
  transform: rotate(180deg);
}

details[open] summary {
  margin-bottom: 10px;
}
